################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Algorithms/bin/Debug
/Algorithms/obj/Debug
*.suo
